.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fff;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #999;
  width: 40%; /* Could be more or less, depending on screen size */
  display: flex;
  align-items: center;
}

/* The Close Button */
.close {
  color: #999;
  /* float: right; */
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #282c34;
  text-decoration: none;
  cursor: pointer;
}

.modal-message {
  flex: 4
}

.close-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}