.container {
  /* height: 75vh; */
  margin: 0;
  display: flex;
  justify-content: center;
  /* background-color: blueviolet; */
}

.centered-column {
  width: 95%;
}

.empty-list-container {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-list-text {
  color: #282c34;
}

.empty-list-button {
  border: none;
  background-color: #282c34;
  color: #fff;
  padding: 14px 28px;
  font-size: 16px;
  font-family : inherit;
  cursor: pointer;
  display: inline-block;
  border-radius: 3px;
}

.empty-list-button:hover {
  background-color: #32353E;
}

.full-article-row {
  background-color: #fff;
  cursor: pointer;
}

.full-article-row:hover {
  background-color: #fafafa;
}

.article-row-container {
  padding: 20px 25px;
  display: flex;
  align-items: center;
}

.first-column {
  flex: 4.5;
}

.second-column {
  flex: 1;
}

.third-column {
  flex: 0.5;
}

.second-column, .third-column {
  display: flex;
  justify-content: center;
}

.row-border-bottom {
  border-bottom: 1px solid #ccc;
}

.title, .date {
  color: #333;
  font-size: 13pt;
}

.author {
  margin-left: 5px;
  color: #999;
  font-size: 13pt;
  white-space: nowrap;
}

.icon-hidden {
  display: none;
}