.app-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-text-container {
  width: 95%;
}

.header-main-title, .header-sub-title {
  margin-top: 0;
  margin-bottom: 0;
}