.loader-container {
  height: 75vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 13px solid #f3f3f3;
  border-top: 13px solid #282c34;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}